<header>
    <app-task-count></app-task-count>
  </header>
  
  <section>
    <nav>
      <ul>
        <li><a routerLink='/home'>Home</a></li>
        <li><a routerLink='/task'>Task</a></li>
      </ul>
    </nav>
    
    <article>
        <button class="btn btn-default openBtn" type="button" pButton label="Add Task" (click)="showDialog()"></button>
      <router-outlet></router-outlet>
    </article>
  </section>
  <app-add-task [display]="display" (displayChange)="onDialogClose($event)"></app-add-task>
  <footer>
    <p>12 Wonder</p>
  </footer>